.navBar{
    width: 100%;
    height: 50px;
    margin: 0px auto;
    display: flex;
    align-items: center;
    gap: 80px;
    justify-content: center;
    background-color: #e9e7e7; 
}

 .navBar a {
    color: #000;
    text-decoration: none;
    font-size: 18px;
}

.activeLink {
  color: red !important;
  
}
