.dynamicRoute{
    display: flex;
    flex-direction: column;
   align-items: center;
   justify-content: center;
}
.dynamicRoute a{
    padding: 10px 20px;
    margin-top: 10px;
    background-color:lightcoral;
    font-size: larger;
    font-weight: 600;
    color:black;
    width:30%;
    text-decoration: none;
    border-radius: 15px;
}
.dynamicRoute a:hover{
    background-color:rgb(246, 61, 61);
}